.c1{background-color: #D3D3D3; width: 450px;}
h1{color: white; background-color: #9CC559;}
.p1{padding-left: 90px;}
.c2{color: white; background-color: #9CC559;}
#file{background-color: white; height: 25px;}
#p2{float:right;}
#c2{color: white;}